doctype html

html
	head
		title= 'Sick Tasks'
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis')
	body
		section.tasks-list
			header#header
				h1= 'Sick Tasks'
				input(id="new-task", type="text", autofocus="", placeholder="Anything to do ?")
			section#main
				ul
			footer#footer
				ul#filters
					li: a(href="" class="selected") All
					li: a(href="") Active
					li: a(href="") Completed
	script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript')
	script(src='/js/main.js', type='text/javascript')
